img{
    width:14%;
    float:left;
    align-content: top;
    margin-left: 16%;
  }
  footer{
    text-align: left;
    margin-left: 40%;
    margin-right: 10%;
    line-height: 130%;
}
h4{
    font-size: larger;
}
header{
   text-align: center;
   margin-left: 33%;
   margin-right: 7%;
   padding: 25px;
   font-size: larger;
   border-style: solid ;
   border-top-right-radius: 93%;
   color:black;
   border-color:e8e8e6;
   background-color:#e8e8e6;
}
h1{
    text-align: left;
    padding: -4;
}
h2{
    text-align: left;
}
h3{
    text-align: left;
}
h6{
    text-align: left;
}

h5{
    text-align: left;
    margin-left: 16%;
    font-size:small;
}
body{
    padding: 25px;

}


p{
    line-height: 200%;
    text-align:center;
    margin-left: 26%; 
    font-size:medium;
    font-weight: 400;
    margin-right: 26%;
    padding-bottom: 1%;
    padding-top: 1%;

}

html{
    font-family: 'Courier New', Courier, monospace; 
    background-image: linear-gradient(to bottom right, red, darkred,black);
    color: antiquewhite;
}